# Основні поняття Python
## Вступ до змінних і типів даних

Змінні (англійською "variables") використовуються для зберігання значень у Python. Змінні можуть мати довільну назву, яка складається з літер, цифр і нижніх підкреслень.

У прикладі коду ми створили три змінні: `x`, `y` і `z`. `x` зберігає значення `5`, `y` зберігає рядок `привіт`, а `z` зберігає логічне значення `True`. Python підтримує кілька типів даних, включаючи цілі числа, числа з плаваючою комою, рядки та логічні значення. Ми використали по одному з кожного у прикладі коду нижче.

In [ ]:
x = 5
y = "привіт"
z = True

У кожної змінної є тип. Ось як його перевірити:

In [ ]:
type(x)

In [ ]:
type(y), type(z)

In [ ]:
display(type(y), type(z))

Змінну ми можемо використовувати далі у програмі, або взагалі перевизначити.

In [ ]:
x

In [ ]:
x + 2

In [ ]:
x = 'Лондон'

In [ ]:
display(x, type(x))

В цьому ноутбуці для вас передбачені завдання. Давайте розглянемо, як з ними працювати.

**Завдання 0**: Створіть змінну з назвою `my_first_variable` зі значенням `16`.
<details>
<summary>Натисніть тут аби побачити розвʼязок</summary>

```python
my_first_variable = 16

```
</details>

Тепер даю перші завдання вам для самостійного виконання.

**Завдання 1**: Створіть дві змінні: одну з назвою `value_1` і значенням 15.4, іншу з назвою `value_2` і значенням 199.

<details>
<summary>Натисніть тут аби побачити розвʼязок</summary>

```python
value_1 = 15.4
value_2 = 199

```
</details>

**Завдання 2**: Виведіть тип змінної `value_1`, `value_2`.

<details>
<summary>Натисніть тут аби побачити розвʼязок</summary>

```python
display(type(value_1), type(value_2))

```
</details>

## Основні математичні операції в Python
Python підтримує основні математичні операції, включаючи додавання, віднімання, множення, ділення та модуль числа. У прикладі коду наведено кілька таких операцій із використанням змінних `a` і `b`. `c` зберігає результат `a + b`, `d` зберігає результат `a - b`, `e` зберігає результат `a * b`, `f` зберігає результат `a / b`, а `g` зберігає залишок `a`, поділеного на `b`.

In [ ]:
a = 10
b = 3
c = a + b
d = a - b
e = a * b
f = a / b
g = a % b

In [ ]:
display(a, b, c, d, e, f, g)

Рядочки теж можна складати. Це називаєтся - конкатенація.

In [ ]:
s1 = 'aaa'
s2 = 'bbb'
s1 + s2

In [ ]:
s1 + ' ' + s2

Ще можна вивести конкатенацію кількох рядків таким чином:

In [ ]:
print(s1, s2)

**Завдання 3**: Визначте дві змінні: `str_value_1`, що містить рядок `Привіт! Мене звати`, і `str_value_2` , що містить ваше імʼя українською. Виведіть фразу разом `Привіт! Мене звати <ваше імʼя>`.

<details>
<summary>Натисніть тут аби побачити розвʼязок</summary>

```python
str_value_1 = 'Привіт! Мене звати'
str_value_2 = 'Аня'
print(str_value_1, str_value_2)

```
</details>

# Введення в аналіз даних і Pandas

Щоб проаналізувати набір даних, ви повинні виконати такі загальні дії:

- Імпорт бібліотек
- Завантаження даних
- Дослідження структури даних
- Чистка і трансформація типів даних
- Візуалізація даних
- Аналіз даних (статистичний аналіз, додаваня нових колонок, тощо)
- Опис результатів спостережень


## Огляд бібліотеки Pandas
Pandas — це бібліотека Python, яка використовується для обробки та аналізу даних. У прикладі коду ми імпортували Pandas за допомогою псевдоніма pd, який зазвичай використовується в коді Python.

In [ ]:
import pandas as pd

## Читання даних із файлів CSV
Pandas може читати дані з різних форматів файлів, включаючи файли CSV. У прикладі коду ми використали функцію read_csv() для читання даних із файлу CSV під назвою `avocado.csv`. Отримані дані зберігаються в змінній `df`, скорочено від `dataframe`.

В цьому уроці ми викоритовуємо дані про продажі авокадо. Детальний опис даних доступний [тут](https://www.kaggle.com/datasets/neuromusic/avocado-prices).
Основні колонки в даних:

- `Date` - The date of the observation
- `AveragePrice` - the average price of a single avocado
- `type` - conventional or organic
- `year` - the year
- `Region` - the city or region of the observation
- `Total Volume` - Total number of avocados sold

Але перд читанням нам треба замаунтити наш гугл диск.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Так можна визначити, який шлях до даних буде правильний.

In [ ]:
! ls drive/MyDrive/Instagram/'Майстер-клас Python for DA'

In [ ]:
df = pd.read_csv("drive/MyDrive/Instagram/Майстер-клас Python for DA/avocado.csv")

В першу чергу ми завжди дивимось на основні характеристики наших даних.

In [ ]:
df.info()

Також корисно подивитись на самі дані.

In [ ]:
df.head()

Бачимо, що у нас перша колонка якась дивна. Вона не мала в назви в файлі, того зчиталась як `Unnamed: 0`. Подивимось, що в ній за дані?

In [ ]:
df['Unnamed: 0']

In [ ]:
df['Unnamed: 0'].value_counts()

Це схоже на номер тижнів. Перевіримо, а заодно подивимось, як фільтрувати дані.

In [ ]:
df[df.region=='Albany'][df.year==2015][df.type=='conventional']

Щось типу зворотнього номеру тижня :) Гадаю, нам ця інформація не стане в нагоді, тож просто видалимо цей стовпець.

In [ ]:
df.drop(columns=['Unnamed: 0'])

Аби застовувати зміни, нам треба записати кудись результат команди.

In [ ]:
df = df.drop(columns=['Unnamed: 0'])

Взагалі переглянути які є різні опції у кожної функції чи які є властивості обʼєкта можна наступним чином:

In [ ]:
?pd.read_csv

In [ ]:
?df

Перейменуємо колонки на більш інформативні назви. Колонки з нумеричною назвою насправді означають наступне
```
4046 - Total number of avocados with PLU 4046 sold
4225 - Total number of avocados with PLU 4225 sold
4770 - Total number of avocados with PLU 4770 sold
```

PLU в свою чергу моженмо трактувати наступним чином:

```
4046: non-organic small/medium Hass Avocados (~3-5 oz)
4225: non-organic large Hass Avocados (~8-10 oz)
4770: non-organic extra large Hass Avocados (~10-15 oz)
```

Перейменування робиться через метод `rename`.

In [ ]:
df.rename(columns={'4046': 'Small Number', '4225': 'Large Number', '4770': 'XLarge Number'})

Крім запису змін в ту ж змінну можемо ще скористатись параметром `inplace`.

In [ ]:
df.rename(columns={'4046': 'Small Number', '4225': 'Large Number', '4770': 'XLarge Number'}, inplace=True)

## Валідація даних
У нас є колонка `Total Volume`, яка має бути рівною сумі всіх проданих авокадо, в сумочках і поштучно. Перевіримо це.

In [ ]:
df[['Small Number', 'Large Number', 'XLarge Number', 'Total Bags']].sum(axis=1)

In [ ]:
df['Total Volume'].equals(df[['Small Number', 'Large Number', 'XLarge Number', 'Total Bags']].sum(axis=1))

Не всюди умова виконується. Подивимось, в скількох даних не виконується.
Для початку запишемо обчислення в окрему колонку.

In [ ]:
df['Check Sum'] = df[['Small Number', 'Large Number', 'XLarge Number', 'Total Bags']].sum(axis=1)

Тепер маємо порівняти наші значення в колонках `Total Volume` і `Check Sum`. Зробимо це спеціальним методом з бібліотеки `numpy`.

In [ ]:
import numpy as np

In [ ]:
df['Check Passed'] = np.isclose(df['Total Volume'], df['Check Sum'])

Чому нам потрібно використовувати цей метод.

In [ ]:
np.isclose(12.5, 12.500000001), 12.5 == 12.500000001

In [ ]:
df['Check Passed'].value_counts()

**Завдання 4**: 
Вище ми використали спеціальним метод для порівняння значень типу `float`. Давайте подивимось що б було, аби ми про нього не знали. Створіть колонку `Check Passed Equal`, в яку запишіть результат порівняння через оператор `==` значень у колонках `Total Volume` і `Check Sum`. Після цього виведіть скільки рядків в такому випадку НЕ пройдуть перевірку (тобто ми могли б думати, що там значення `Total Volume` - неправильне). 

<details>
<summary>Натисніть тут аби побачити розвʼязок</summary>

```python
df['Check Passed Equal'] = df['Total Volume'] == df['Check Sum']
df['Check Passed Equal'].value_counts()

```

А насправді багато з цих рядочків містять коректне значення з доволі великою точністю і вважати обчислення в них неправильними було б некоректно.
</details>

Подивмось на дані, де у нас не пройшла перевірка.

In [ ]:
df[df['Check Passed']==False]

Подивимось, чи розбіжність між ообчисленою колонкою і оригінальною - велика.

In [ ]:
filtered = df[df['Check Passed']==False] 
(
    (filtered['Total Volume'] - filtered['Check Sum'])/filtered['Check Sum']
).hist();

Різниця невелика. Тож, просто замість попердньої колонки ми запишемо наші обчислені дані.

In [ ]:
df.rename(columns = {'Total Volume':'Total Volume Errors', 'Check Sum': 'Total Volume'}, inplace=True)

**Завдання 5**: Виведіть перші 5 рядочків оновлених даних аби перевірити, який вигляд вони мають.

<details>
<summary>Натисніть тут аби побачити розвʼязок</summary>

```python
df.head()

```
</details>

## Дослідження даних

### Агрегація і фільтрація даних

Авокадо якого типу продаються більше?

In [ ]:
df_grouped = df.groupby('type').agg(avg_vol=('Total Volume', 'mean')).reset_index()
df_grouped['percentage'] = (df_grouped['avg_vol'] / df_grouped['avg_vol'].sum()) * 100

In [ ]:
df_grouped

In [ ]:
df_grouped.round(2)

Отже, авокадо звичайні мають більші обʼєми продажів. А яка різниця у ціні на ці типи авокадо?

In [ ]:
df.groupby('type').agg('AveragePrice').mean()

В якому регіоні найдешевше і найдорожче звичайне авокадо? Для цього маємо спочатку відфільтрувати дані, а потім загрегувати і відсортувати.

In [ ]:
df_conv = df[df['type']=='conventional']

In [ ]:
df_conv_by_region = df_conv.groupby('region').AveragePrice.mean().sort_values()

Знайдемо максимальне і мінімальне значення.

In [ ]:
df_conv_by_region.min(), df_conv_by_region.max()

Чудово! Тепер ми можемо знайти назви регіонів з мінімальним і максимальним значеннями.

In [ ]:
display(
    df_conv_by_region[df_conv_by_region==df_conv_by_region.min()], 
    df_conv_by_region[df_conv_by_region==df_conv_by_region.max()]
)

### Візуалізація даних

Візуалізуємо і порівняємо динаміку цін на авокадо в цілому, а також за типами.

In [ ]:
# Перетворимо стовпець "Date" на об'єкт datetime і відсортуємо DataFrame за датою
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
df = df.sort_values(by='Date')

Побудова візуалізацій. Для початку імпортуємо дві бібліотеки які нам потрібні.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

Побудуємо для початку найпростіший можливий вигляд графіку.

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(df.Date, df.AveragePrice);

Так сталось, бо у нас дані по країнам. Відповідно дані "скачуть", бо обʼєми продажів у нас в різних країнах і для різних типів авокадо різні. "Приблизимо трохи дані"

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(df.Date[:1000], df.AveragePrice[:1000]);

Що ж робити? Ну, наприклад, агрегувати дані.

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(df.groupby('Date').AveragePrice.mean());

Ми могли б трансформувати дані, а можемо натомість використати більш "розумну" бібліотеку для побудови графіка.

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(x='Date', y='AveragePrice', data=df, alpha=0.3)
plt.title('Price Trend');

Значно краще, правда? :) 
Тепер виведемо динаміку по типам авокадо.

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(x='Date', y='AveragePrice', hue='type', data=df, alpha=0.3)
plt.title('Price Trend by Type');

**Резюме:**
- Органічні авокадо: виходячи зі змін цін протягом тривалого часу, ми бачимо, що вони **дорожчі**.
- Звичайні авокадо: виходячи зі змін цін протягом тривалого часу, ми бачимо, що вони **дешевші**.

**Завдання 6**: Побудуйте графік динаміки цін на авокадо (обох типів) аналогічни до того, що ми щойно побудували, по типам авокадо, тільки для конкретного регіона - `Chicago`. Проаналізуйте графік. Чи схожа тенденція в Чикаго на загальну? В чому бачите відмінності? Чи було таке, що органічні авокадо були дешевші за звичайні?

<details>
<summary>Натисніть тут аби побачити розвʼязок</summary>

```python
plt.figure(figsize=(12, 6))
sns.lineplot(x='Date', y='AveragePrice', hue='type', data=df[df['region']=='Chicago'])
plt.title('Price Trend by Type');

```
Найдорожчі авокадо виходять у нас в , а найдешевші - в 
</details>

Розглянемо ще один вид графіку - гістограма.

In [ ]:
sns.set(style='whitegrid')
sns.histplot(x='AveragePrice', data=df);

Ми можемо змінити кількість на частоту. А також можемо змінити кількість бінів.

In [ ]:
sns.histplot(x='AveragePrice', stat='probability', data=df, bins=20);

Детальніше про параметри методу можна дізнатись вже відомим нам способом через знак питання, або в [документації](https://seaborn.pydata.org/generated/seaborn.histplot.html).

Побудуємо гістограми по типам авокадо.

In [ ]:
sns.histplot(x='AveragePrice', hue='type', data=df);

**Завдання 7**: Побудуйте гістограми розподілів цін на авокадо за типами для регіона з найвищою ціною. Ми знаходили цей регіон раніше. В назві графіка зазначте назву регіона і що зображено на графіку (ми вивели розподіл цін на авокадо). 

<details>
<summary>Натисніть тут аби побачити розвʼязок</summary>

```python
region_name = 'HartfordSpringfield'
sns.histplot(x='AveragePrice', hue='type', data=df[df.region==region_name])
plt.title('Prices distribution for avocados in '+region_name);
```
Найдорожчі авокадо виходять у нас в , а найдешевші - в 
</details>

## Запис у файл CSV

In [ ]:
df.to_csv("drive/MyDrive/Instagram/Майстер-клас Python for DA/avocado_upd.csv", index=False)

На цьому наш вступна частина у світ програмування і аналізу даних добігла кінця. Буду рада вашим враженням в чаті курсу та відміткам в інстаграмі. Заряджайте своє оточення бажанням вчитись!)